# Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD2HpG_NoZdVntgRvBCv2ur1NhFtyjYVW0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=chatbot-ai-7339c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=chatbot-ai-7339c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=chatbot-ai-7339c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=810694497307
NEXT_PUBLIC_FIREBASE_APP_ID=1:810694497307:web:1e329a19295e670b75d4be
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-XYB4NERWBJ

OPENAI_API_KEY=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